{{!
Name: Mary Lucey
Date: 11-11-25
Assignment 6: Client Side Validation with jQuery
}}

<div class="body-div">
   <h1>Contact Form</h1>
    <div id="msg"><br></div>
	
	 <form id="email-form" name="email-form" action="email.php" method="post">
	 
      <label for="name">Name:</label>
	  <input type="text" id="name" name="name" maxlength="64" placeholder="Your name"><br>
      
	  <label for="from">Return Email:</label>
	  <input type="text" id="from" name="from" maxlength="64" placeholder="name@example.com"><br>
	  
	   <label for="refrom">Re-Enter Return Email:</label>
	   <input type="text" id="refrom" name="refrom" maxlength="64" placeholder="re-enter email"><br>
	   
	   <label for="subject">Subject:</label>
	    <input type="text" id="subject" name="subject" maxlength="64" placeholder="Subject"><br>
		
		<label for="message">Message:</label>
		<textarea id="message" name="message" maxlength="1000" placeholder="Write your message" rows="6"></textarea><br>
		
		 <div class="button-group">
		 <button type="submit" id="email-send">Send</button>
		 <button type="button" id="email-clear">Clear</button>
		 </div>
		 </form>
		 
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		
  
