{{!
Name: Mary Lucey
Date: 11-26-25
Assignment 6: Client Side Validation with jQuery
}}

{{! Title success body template }}
<div class="body-div success">
     <h1>Form Submission - Success</h1>
	 <p>You are {{ title }} {{ favdrink }} {{ pname }} of {{ favfictionalplace }} and {{ favrealplace }}</p>
	 
	   <p>Title is: {{ title }}<br>
	   Title length: {{ titleLength }} characters</p>
	   
	    <p>Favorite drink is: {{ favdrink }}<br>
		 Drink length: {{ drinkLength }} characters</p>
		 
		  <p>Pet name is: {{ pname }}<br>
		   Pet name length: {{ pnameLength }} characters</p>
		   
		  <p>Favorite fictional place is: {{ favfictionalplace }}<br>
		    Fictional place length: {{ favfictionalplaceLength }} characters</p>
			
			  <p>Favorite real place is: {{ favrealplace }}<br>